body 
{
    background-color: #f2f2f2;
    margin: 0px;
}

#container
{
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

#navPanel
{
    width: 800px;
    height: 51px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#navPanel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navPanel li
{
    padding: 0px;
    margin: 0;
    float: left;
}

#navPanel li a
{
    display: block;
    width: 150px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Verdana;
    font-weight: bold;
    font-size: smaller;
}

.midNav
{
    background-image: url(images/buttonW150xH51.jpg);
    background-repeat: no-repeat;
}

.endNav
{
    background-image: url(images/endButtonW150xH51.jpg);
    background-repeat: no-repeat;
}

#mainPanel
{
    width: 800px;
    height: 366px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#imgSlides
{
    width: 650px;
    height: 366px;
    float: left;
}

#imgSlides .imgFirst { display: block; }
#imgSlides img { display: none; }

#imgThumbs 
{
    padding: 0;
    margin: 0;
    width: 140px;
    height: 350px;
    float: right;
}

#imgThumbs li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

#imgThumbs li a
{
    display: block;
    width: 140px;
    height: 70.8px;
    background-color: #1f1a17;
    text-align: center;
    text-decoration: none;
}

.middleThumb
{
    margin: 3px 0;
}

#imgThumbs img
{
    margin-top: 2.9px;
}

#imgThumbs li.activeSlide a 
{ 
    background-color: #e14d0f;
    
}

#imgThumbs a:focus 
{ 
    outline: none; 
}

#imgThumbs a:hover 
{ 
    background-color: #e14d0f; 
}
