body 
{
    background-color: #f2f2f2;
    margin: 0px;
}

#container
{
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

#navPanel
{
    width: 750px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#navPanel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navPanel li
{
    padding: 0px;
    margin: 0;
    float: left;
}

#navPanel li a
{
    display: block;
    width: 150px;
    height: 51px;
    line-height: 51px;
    background-image: url(images/buttonW150xH51.jpg);
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Verdana;
    font-weight: bold;
    font-size: smaller;
}

#centerPanel
{
    width: 750px;
    height: 338px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

