body 
{
    background-color: #f2f2f2;
    margin: 0px;
}

#container
{
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

#headerPanel
{
    position: relative;
    width: 800px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
}

#headerPanel p
{
    position: absolute;
    right: 5px;
    bottom: 0;
    margin: 0;
    font-family: Verdana;
    font-size: 11px;
}

#headerPanel a
{
    text-decoration: none;
    color: black;
}

#headerPanel a:hover
{
    color: #e14d0f;
    text-decoration: underline;
}

#navPanel
{
    width: 800px;
    height: 51px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#navPanel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navPanel li
{
    float: left;
}

#navPanel li .logo
{
    display: block;
    width: 150px;
    height: 51px;
    background: url(images/logoW150xH102.jpg) bottom;
    background-repeat: no-repeat;
}

#navPanel li .logo:hover
{
    background-position: top;
}

#navPanel li .button
{
    display: block;
    width: 150px;
    height: 51px;
    line-height: 51px;
    background: url(images/ButtonBGW300xH102.jpg) bottom;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Verdana;
    font-weight: bold;
    font-size: smaller;
}

#navPanel li a:hover
{
    background-position: top;
    color: white;
} 

.txtNav
{
    width: 150px;
    height: 51px;
    background-image: url(images/txtBackgroundW150xH51.jpg);
    background-repeat: no-repeat;
    text-align: center;
    line-height: 51px;
}

#navPanel input[type="text"]
{
    width: 140px;
    padding: 0;
    margin: 0;
}

.searchNav
{
    width: 50px;
    height: 51px;
    background: black;
    text-align: center;
}

#navPanel input[type="submit"]
{
    width: 27px;
    height: 27px;
    border: 0;
    background: url(images/searchLogoW27xH54.jpg) bottom;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 12px;
}

#navPanel input[type="submit"]:hover
{
    background-position: top;
}

#mainPanel
{
    width: 800px;
    height: 366px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#imgSlides
{
    width: 650px;
    height: 366px;
    float: left;
}

#imgSlides .imgFirst { display: block; }
#imgSlides img { display: none; }

#ulThumbs 
{
    padding: 0;
    margin: 0;
    width: 140px;
    height: 350px;
    float: right;
    list-style: none;
}

#ulThumbs li a
{
    display: block;
    width: 140px;
    height: 70.8px;
    background-color: #1f1a17;
    text-align: center;
    text-decoration: none;
}

.middleThumb
{
    margin: 3px 0;
}

#ulThumbs img
{
    margin-top: 2.9px;
    border: 0;
}

#ulThumbs li.activeSlide a 
{ 
    background-color: #e14d0f;
}

#ulThumbs a:focus 
{ 
    outline: none; 
}

#ulThumbs a:hover 
{ 
    background-color: #e14d0f; 
}

#infoPanel
{
    width: 800px;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#window1
{
    width: 300px;
    height: 200px;
    float: left;
    background: url(images/mapW300xH200.jpg);
}

#window2
{
    width: 500px;
    height: 200px;
    float: left;
    background-color: #e14d0f;
}

#infoPanel2
{
    width: 800px;
    height: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
#infoPanel2 h4
{
    padding: 20px 10px 5px;
    margin: 0;
    color: white;
    font-family: Verdana;
}

#infoPanel2 .orange
{
    color: #e14d0f;
    font-family: Broadway;
}

#infoPanel2 p 
{
    padding: 0px 10px 5px;
    margin: 0px;
    font-size: 10px;
    font-family: Verdana;
    color: white;
}

#footer
{
    position: relative;
    width: 800px;
    height: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#footer p
{
    position: absolute;
    bottom: 2px;
    left: 5px;
    margin: 0;
    font-size: 10px;
    font-family: Verdana; 
}

#footer a
{
    text-decoration: none;
    color: black;
}

#footer a:hover
{
    color: #e14d0f;
    text-decoration: underline;
}



