.srtgs {
 position:relative;
 margin:0;
 width:170px;
 font-family: helvetica, Arial, sans-serif;
 text-align:left;
 padding:1px 1px 2px 2px;
}
.srtgs .stars, .srtgs .d_rtg, .srtgs .totalrate { width:109px; }
.srtgs .stars {
 position:relative;
 height:20px;
 margin:0;
 background: url('star0.png') repeat-x top left;
 padding:1px;
}
.srtgs .d_rtg {
 position:absolute;
 top: 0; left:0px;
 height:20px;
 width: 115px;
}
.srtgs .totalrate {
 position:relative;
 text-align:center;
 height: 0;
}
.totalrate i {
 padding-right:8px;
 color: #e14d0f;
}
.totalrate span{
 color: #e14d0f;
}
 .srtgs .d_rtg span {
  display:block;
  width:11px;
  float:left;
  cursor:pointer;
 }
.srtgs .star_n {
 position:relative;
 height:20px;
 margin:0;
 background: url('star1.png') repeat-x top left;
}
.srtgs em {
 position:absolute;
 bottom:3px;
 left:125px;
 width: 120px;
 font-size:13px;
}